
{% extends "index.html" %}

{% block content %}
<BR>
        <div class="row " >

            <div class="col-2">
                <a href="/intakeCalendar?newDate={{ previousDay }}" class=" btn btn-primary" id="previousDay">Previous Day</a>
            </div>
            <div class="col-6">
                <p class="fs-2"><B>{{ weekday }} Julian Day {{ currentJulian }} of 2021</B></p>
            </div>
            <div class="col-2">
                <a href="/intakeCalendar?newDate={{ nextDay }}" class=" btn btn-primary" id="nextDay">Next Day</a>
            </div>

        </div><BR>

    <div class="row justify-content-md-center" >

        <div class="col-2">
            <p class="fs-4">Time</p>
        </div>
        <div class="col-4">
            <p class="fs-4">Patient</p>
        </div>
        <div class="col-4">
            <p class="fs-4">Provider</p>
        </div>

    </div>


        {%for thisHour in schedule %}

      <div class="row justify-content-md-center" >

          <div class="col-2">
              <p class="fs-6">{{thisHour[0]}}</p>
          </div>
          <div class="col-4">
              <p class="fs-6">{{thisHour[1]}}</p>
          </div>
          <div class="col-4">
              <p class="fs-6">{{thisHour[2]}}</p>
          </div>

      </div>

      {% endfor %}






{% endblock %}