<div class="col-2 d-grid gap-2 navPanel" id="leftNavPanel">

<span id="navPanelUserWelcome"></span>
<image src="../static/images/uab_logo.png" class="navPanelImage"></image>
<span id="navPanelPicture"></span>
<div id="newUserButtonDiv" class="hiddenSection">
    <div class=" d-grid gap-2">
        <a href="/newUser" class="btn btn-primary" id="newUserButton">New User</a>
    </div>
</div>
<div id="selectPatientButtonDiv" class="hiddenSection">
    <div class=" d-grid gap-2">
        <a href="/patientSelect" class="btn btn-primary" id="selectPatientButton">Select Patient</a>
    </div>
</div>
<a href="/insurance" class="disabled btn btn-primary" id="insuranceButton">Insurance</a>
<!--<a href="/orders" class="disabled btn btn-primary" id="ordersButton">Orders</a>-->
<a href="/patientInformation" class="disabled btn btn-primary" id="patientInformationButton">Patient Information</a>
<a href="/patientHistory" class="disabled btn btn-primary" id="patientHistoryButton">Patient History</a>
<div id="intakeCalendarButtonDiv" class="hiddenSection">
    <div class=" d-grid gap-2">
        <a href="/intakeCalendar" class="btn btn-primary" id="intakeCalendarButton">Intake Calendar</a>
    </div>
</div>

<div id="addAppointmentButtonDiv" class="hiddenSection">
    <div class=" d-grid gap-2">
        <a href="/addAppointment" class="btn btn-primary" id="addAppointmentButton">Add Appointment</a>
    </div>
</div>
<a href="/messaging" class="disabled btn btn-primary" id="messagingButton">Messaging</a>
<div id="createEmployeeButtonDiv" class="hiddenSection">
    <div class=" d-grid gap-2">
        <a href="/employeeForm" class="btn btn-primary" id="createEmployeeButton">Create Employee</a>
    </div>
</div>

<div class="navPanelExtender"></div>
</div>
