<div class="col-10">
</div>

<div class="col-2">
    <a href="/logout" class="btn btn-primary" id="logoutButton">Log Out</a>
</div>

        <!--
      <div id="asd" class="row  ">
        <div class="col-2">PATIENT NAME: Jimmy Dean</div>
        <div class="col-2"></div>
        <div class="col-2">DOB: 06/10/1937</div>
        <div class="col-2">GENDER: Male </div>
        <div class="col-2">ID:M123978971</div>
        <div class="col-2">NAME: </div>
      </div>

      <div id="asd2" class="row  ">
        <div class="col-2">HEIGHT: 1.9M</div>
        <div class="col-2">WEIGHT: 190 lbs.</div>
        <div class="col-4">ATTENDING: Dr Red Duke</div>
        <div class="col-2">INSURANCE: Self Pay </div>
        <div class="col-2">PRIMARY CONTACT: 205 555 5228</div>
      </div>-->
